.slides {
	padding: 0;
	/*width: 853px;
	 height: 420px;*/
	width: 1495px;
	height: 650px;
	display: block;
	margin: 0 auto;
	position: relative;
}

.slides * {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.slides input {
	display: none;
}

.slide-container {
	display: block;
}

.slide {
	top: 0;
	opacity: 0;
	width: 1495px;
	height: 650px;
	display: block;
	position: absolute;
	transform: perspective(5);
	/*transform: scale(0);*/
	transition: all .9s ease-in-out;
}

.slide img {
	width: 100%;
	height: 100%;
}
/* navigating arrows */
.nav label {
	width: 200px;
	height: 100%;
	display: none;
	position: absolute;
	opacity: 0;
	z-index: 9;
	cursor: pointer;
	transition: opacity .2s;
	color: #FFF;
	font-size: 156px;
	text-align: center;
	line-height: 380px;
	font-family: "Varela Round", sans-serif;
	background-color: rgba(255, 255, 255, .3);
	text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
	opacity: 0.5;
}

.nav label:hover {
	opacity: 1;
}

.nav .next {
	right: 0;
}

input:checked + .slide-container  .slide {
	opacity: 1;
	transform: scale(1);
	transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
	display: block;
}

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(200, 117, 51, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~
.nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

/*balloon*/

div#wrapper > header > p.triangle-right {
	display: block;
	width: 40%;
	margin-left: 40px;
	padding: 10px;
	border-radius: 10px;
	background: none repeat scroll 0% 0%;
	background-color: rgba(255,255,255,0.6);
	font-size: 1.5 rem;
	color: #cf5c3f;
	position: absolute;
	top: 7%;
	left: 18%;
}

div#wrapper > header > p.triangle-right:after {
	content: "";
	width: 0px;
	border-width: 15px 40px 0px 0px;
	border-color: transparent rgba(255,255,255,0.6);
	border-style: solid;
	display: block;
	position: absolute;
	top: 15px;
	left: -40px;
	bottom: auto;
}

/***** Responsive Design part *****/

@media screen and (min-width: 1201px) and (max-width: 1500px) {
	.slides {
		width: 1195px;
		height: 650px;
	}
	.slide {

		width: 1195px;
		height: 650px;
	}
}

/*responsive design for laptops*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.slides {
		width: 995px;
		height: 550px;
	}
	.slide {

		width: 995px;
		height: 550px;
	}
}

/*responsive design for tablets*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.slides {
		width: 99%;
		height: 450px;
	}
	.slide {

		width: 99%;
		height: 450px;
	}
}

/*responsive design for smartphones*/
@media screen and (max-width: 768px) {
	.slides {
		width: 99%;
		height: 350px;
	}
	.slide {

		width: 99%;
		height: 350px;
	}
}