article
{
    background-color:transparent;
    margin-left:10%;
    width: 75%;
    display: inline-block;
    font-size: 1.6em;
}

article header
{
    width:100%;
    color:#A80000 ;
    font-size:2em;
}

article{
    margin-top: 20px;
}

section> article >div{
    height: 300px;
}
article div p::first-letter{
    font-size:200%;
    color: #E00000;
}
article div p::first-line{
    font-style: italic;
    font-size: 1.1em;
}

article div p
{
    padding-left: 25%;
    color:#E00000;
}

article footer a
{
    padding-left: 40%;
    color:#E00000;
    font-style:italic;
}