/*
 Software University 2014
 Team: Baker-Miller Pink
 September 2014
 */

/***** Body *****/
@font-face {
    font-family: LDFComicSans;
    src: url('../fonts/LDFComicSans.ttf');
}

body {
    background-image: url('../images/background2.jpg');
    background-size: 1500px auto;
    background-repeat: no-repeat;
    background-color: #000;

    color: #000305;
    font-size: 14px;
    font-family: 'LDFComicSans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0 auto;
    padding: 0;
    text-align: left;

    width: 70%;
}

/***** Headings *****/
h2 {
    font-size: 1.571em
}

/* 22px */
h3 {
    font-size: 1.429em
}

/* 20px */
h4 {
    font-size: 1.286em
}

/* 18px */
h5 {
    font-size: 1.143em
}

/* 16px */
h6 {
    font-size: 1em
}

/* 14px */

h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1; /* 11px */
    margin-bottom: .8em;
}

/***** Anchors *****/
a {
    outline: 0;
}

a img {
    border: 0px;
    text-decoration: none;
}

/***** Main Navigation *****/

.topHeader nav {
    background: #666;
    font-size: 1.143em;
    height: 40px;
    line-height: 30px;
    margin: 0 auto 30px auto;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.topHeader nav ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
}

.topHeader nav ul li {
    float: left;
    display: inline;
}

.topHeader nav a:link, .topHeader nav a:visited {
    color: #fff;
    display: inline-block;
    height: 30px;
    padding: 5px 23px;
    text-decoration: none;
}

.topHeader nav a:hover, .topHeader nav a:active {
    transition: background 0.5s ease-out;
    background: #d87c65;
    color: #fff;
    text-shadow: none !important;
}

#current {
    background: #CF5C3F;
}

.topHeader img {
    margin: 3% 0;
}

/***** Content Area *****/

.wrapper {
    overflow: hidden;
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/***** Footer *****/

.mainFooter {
    width: 100%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 0;
    background-color: #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #FFF;
}

.mainFooter p {
    width: 91%;
    margin: 2% auto;
}

/***** Media Queries *****/

@media only screen and (min-width: 150px) and (max-width: 780px) {
    .body {
        clear: both;
        margin: 0 auto;
        width: 90%;
        font-size: 90%;
    }

    .topHeader nav {
        background: #666;
        font-size: 1.143em;
        height: 160px;
        line-height: 30px;
        margin-bottom: 0;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }


    .topHeader nav a:link, .topHeader nav a:visited {
        color: #FFF;
        display: block;
        height: 30px;
        padding: 5px 0;
        text-decoration: none;
    }

    .topHeader nav li a {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .wrapper {
        overflow: hidden;
        line-height: 25px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    .topcontent {
        background-color: #FFF;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 2% 5%;
        margin-bottom: 4%;
    }

    .bottomcontent {
        background-color: #FFF;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 2% 5%;
    }

    .content {
        width: 100%;
        float: left;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .mainFooter {
        width: 100%;
        float: left;
        margin: 2% 0;
        padding-left: 0;
        background-color: #666;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        color: #FFF;
    }

    .mainFooter p {
        width: 86%;
        margin: 2% auto;
    }

}