/*
 Software University 2014
 Team: Baker-Miller Pink
 September 2014
 */

/***** Initial setup  and reseters *****/
@font-face {
	font-family: LDFComicSans;
	src: url('../fonts/LDFComicSans.ttf');
}

html {
	background-color: #000;
	background-image: url('../images/background.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	font-size: 14px;
	font-family: 'LDFComicSans', Arial, sans-serif;
	color: #000305;
}

body, header, footer, div, nav, ul, li, p {
	margin: 0;
	padding: 0;
}

/***** Site Wrapper *****/

div#wrapper {
	width: 1500px;
	margin: 0 auto;
}

/***** HEADER *****/
div#wrapper > header > img#logo {
	margin: 0.2% 15px;
}

div#wrapper > header > p.triangle-right {
	display: none; /* this works only in the Comics page/ History */
}

div#wrapper > header > nav {
	background: #666;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 0 auto;
	text-align: center;
	border-radius: 5px;
}

div#wrapper > header > nav > ul {
	list-style: none;
	margin-left: 30px;
	padding-left: 0;
}

div#wrapper > header > nav > ul > li {
	float: left;
	display: inline;
}

div#wrapper > header > nav > ul > li > a:link, div#wrapper > header > nav > ul > li a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}

div#wrapper > header > nav > ul > li > a:active {
	transition: background 0.5s ease-out;
	background: #d87c65;
	color: #fff;
	text-shadow: none !important;
}

div#wrapper > header > nav > ul > li > a#current {
	background: #CF5C3F;
}

/***** Main *****/

div#mainContent {
	margin-top: 15px;
}

div#mainContent > img {
	height: 650px;
}

/***** Footer *****/

div#wrapper > footer {
	width: 100%;
	height: 40px;
	background-color: #666;
	color: #FFF;
	margin-top: 15px;
	border-radius: 5px;
	padding-top: 5px;
}

div#wrapper > footer > p {
	margin-left: 15px;
}

/***** Responsive Design part *****/

@media screen and (min-width: 1201px) and (max-width: 1500px) {
	div#wrapper {
		width: 1200px;
		margin: 0 auto;
	}
}

/*responsive design for laptops*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	div#wrapper {
		width: 1000px;
		margin: 0 auto;
	}
}

/*responsive design for tablets*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
	div#wrapper {
		width: 100%;
	}
}

/*responsive design for smartphones*/
@media screen and (max-width: 768px) {
	div#wrapper {
		width: 100%;
		min-width: 240px;
	}
}